body {
    font-family: 'Source Code Pro', monospace;
}

a {
    color: white;
}

a:hover {
    color: white;
}


.container form {
    max-width: 940px;
    margin: 32px auto 0;
}

.container form input:focus {
    box-shadow: none;
    border-color: #D6D6D6
}

.container form input:hover {
    border-color: #D6D6D6
}


.container form textarea:focus {
    box-shadow: none;
    border-color: #D6D6D6;
}

.container form textarea:hover {
    border-color: #D6D6D6;
}

.button {
    background-color: #6246ea;
    color: #fffffe;
}

.button:hover {
    background-color: #7e62f7;
    color: white;
}

.list-title {
    color: #6246ea;
    font-size: 19px;
    text-decoration: underline;
}

.block {
    border-radius: 12px;
}

.block {
    background-color: white;
    border-radius: 6px;
    color: #141c3a;
    display: block;
    padding: 1.25rem;
}

.card {
    height: 260px;
}

.navbar-menu {
    font-size: 20px;
}


.profile {
    padding: 30px
}

.profile .content {
    text-align: center;
    padding-top: 30px
}

.profile .content figure {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile .content figure img {
    height: 250px;
    width: 256px
}

.profile .content button {
    width: 180px
}

.bio .is-fluid {
    background-color: #6246ea;
    color: white
}

.bio .p-5 {
    padding: 60px 0 150px 0
}

.bio p {
    margin-top: 15px
}

.skills {
    margin-top: -5rem;
    padding-bottom: 1rem;
}

.skills .container {
    padding-bottom: 60px;
}

.skills .container img {
    width: 60px
}

.realisation .is-fluid {
    background-color: #6246ea;
    color: white
}


.realisation .ptb-5 {
    padding-bottom: 100px;
    padding-top: 60px
}

.realisation .container h1 {
    margin-bottom: 40px;
    font-weight: 900
}

.realisation .card p {
    margin-top: 20px
}

.realisation .card p a {
    color: #6246ea;
}

.realisation .soon {
    color: #6246ea;
}

.contact .is-fluid {
    background-color: white;
    color: #2b2c34
}

.contact .pt-6 {
    padding: 60px 0 60px 0
}

.contact .container h1 {
    margin-bottom: 40px;
    font-weight: 900
}

.footer {
    padding: 0;
}

.footer .is-fluid {
    background-color: #6246ea;
    color: white;
    padding: 30px
}

.footer .container p {
    margin: 15px 0 15px 0
}

@media screen and (max-width: 840px) {
    .profile .content {
        padding-top: 10px
    }
}

@media screen and (max-width: 782px) {
    .card {
        height: 280px;
    }
}

@media screen and (max-width: 769px) {
    .container.is-fluid {
         padding-left: 10px;
         padding-right: 10px;
    }
    .profile .content figure img {
        height: auto;
        width: auto;
    }
    .content figure {
         margin-left: 0;
         margin-right: 0;
    }
    .profile .content button {
        width: 220px
    }
}

@media screen and (max-width: 529px) {
    .profile .content button {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1022px) and (max-width: 1215px) {
    .image-skills {
        padding-top: 45px;
    }
}

